* {
    box-sizing: border-box;
}

/* Body & Logo area */
body {
    background-color: #15201a;
    background-image: url('./images/main-background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1200px;
}

.logo-container {
    background-color: #15201a;
    top: 0;
    height: 130px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    position: sticky;
    z-index: 10;
}

#logo {
    margin: 0 auto;
    padding-top: 10px;
    height: 125px;
    width: auto;
    align-items: center;
    position: sticky;
}

/* Main task list area */
.task-list-container {
    background-color: rgba(253, 248, 219, 0.95);
    max-width: 950px;
    width: 80%;
    min-width: 300px;
    height: 400px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.input-text {
    background-color: white;
    border: none;
    color: #505050;
    font-size: 1.25rem;
    display: block;
    width: 95%;
    padding: 1rem;
    margin: 1rem auto;
    z-index: 3;
}

.input-text::placeholder {
    color: #a5a7a5;
}

.list-container {
    margin-top: -40px;
    height: 320px;
    overflow-y: scroll;
}

ul {
    margin: 0;
    padding: 0;
}

.todo-list {
    list-style: none;
    background-color: white;
    border: none;
    color: #131c17;
    width: 95%;
    margin: 2rem auto;
    margin-bottom: 1rem;
    padding-left: -2rem;
}

.todo-list li {
    border-bottom: 15px solid rgb(253, 248, 219);
    padding: 1rem 10rem 1rem 1rem;
    font-size: 1.25rem;
    font-weight: 600;
    position: relative;
    overflow: hidden;
}

.todo-list li .fa-bars {
    color: #a5a7a5;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: move;
}

.todo-list li .fa-trash-can {
    color: #a5a7a5;
    position: absolute;
    right: 55px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.todo-list li .fa-square {
    color: #a5a7a5;
    position: absolute;
    right: 90px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.todo-list li .fa-square-check {
    color: #35e705;
    position: absolute;
    right: 90px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.todo-list .ticked {
    color: #a5a7a5;
    text-decoration: line-through;
}

/* Productivity area */
.productivity-container {
    background-color: rgba(19, 28, 23, 0.7);
    width: 80%;
    max-width: 950px;
    min-width: 300px;
    height: 150px;
    border-radius: 20px;
    position: relative;
    margin-bottom: 30px;
}

.productivity-text {
    background-color: #111914;
    font-family: 'Caveat Brush', sans-serif;
    letter-spacing: 0.075em;
    width: 215px;
    padding: 1rem;
    margin: 0 auto;
    margin-bottom: -35px;
    color: #fdf8db;
    text-align: center;
    vertical-align: middle;
    z-index: 5;
    border-radius: 20px;
    font-size: 150%;
}

.calc-container {
    padding-right: 4rem;
    padding-bottom: 0.2rem;
    position: absolute;
    right: 0;
    bottom: 0;
}

.items-counter-text {
    color: #fdf8db;
    font-size: 110%;
    opacity: 200%;
}

#items-counter-number {
    color: #da0428;
    font-weight: 600;
    font-size: 120%;
    padding-right: 5px;
}

#items-ticked-number {
    color: #e79505;
    font-weight: 600;
    font-size: 120%;
    padding-right: 5px;
}

#items-complete-percent {
    color: #35e705;
    font-weight: 600;
    font-size: 120%;
    padding-right: 5px;
}

/*--------------------------------------------
  Media Queries - for responsive screen sizes.
  From desktop down to mobile
----------------------------------------------*/

/* Media Query for 780px wide */
@media screen and (max-width: 780px) {
    .input-text {
        font-size: 1.2rem;
    }

    .todo-list li {
        font-size: 0.95rem;
        border-bottom: 10px solid rgb(253, 248, 219);
    }

    .items-counter-text {
        color: #fdf8db;
        font-size: 100%;
        opacity: 200%;
    }

    #items-counter-number {
        color: #da0428;
        font-weight: 600;
        font-size: 110%;
        padding-right: 5px;
    }

    #items-ticked-number {
        color: #e79505;
        font-weight: 600;
        font-size: 110%;
        padding-right: 5px;
    }

    #items-complete-percent {
        color: #35e705;
        font-weight: 600;
        font-size: 110%;
        padding-right: 5px;
    }
}

/* Media Query for 650px wide */
@media screen and (max-width: 650px) {

    .todo-list li {
        padding: 1rem 5rem 1rem 1rem;
    }

    .todo-list li .fa-bars {
        color: #a5a7a5;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }

    .todo-list li .fa-trash-can {
        color: #a5a7a5;
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
    }

    .todo-list li .fa-square {
        color: #a5a7a5;
        position: absolute;
        right: 50px;
        top: 50%;
        transform: translateY(-50%);
    }

    .todo-list li .fa-square-check {
        color: #35e705;
        position: absolute;
        right: 50px;
        top: 50%;
        transform: translateY(-50%);
    }

    .calc-container p {
        margin-bottom: -10px;
    }

    .calc-container {
        margin-bottom: 35px;
    }
}

/* Media Query for 450px wide */
@media screen and (max-width: 450px) {
    .todo-list li {
        border-bottom: 7px solid rgb(253, 248, 219);
    }

    .logo-container {
        height: 100px;
    }

    #logo {
        height: 95px;
    }

    .input-text {
        font-size: 1rem;
    }

    .todo-list li {
        font-size: 0.75rem;
    }

    .items-counter-text {
        color: #fdf8db;
        font-size: 90%;
        opacity: 200%;
    }

    #items-counter-number {
        color: #da0428;
        font-weight: 600;
        font-size: 110%;
        padding-right: 5px;
    }

    #items-ticked-number {
        color: #e79505;
        font-weight: 600;
        font-size: 110%;
        padding-right: 5px;
    }

    #items-complete-percent {
        color: #35e705;
        font-weight: 600;
        font-size: 110%;
        padding-right: 5px;
    }

    .productivity-container {
        height: 125px;
    }

    .calc-container p {
        margin-bottom: -10px;
    }

    .calc-container {
        margin-bottom: 20px;
    }
}
