* {
    box-sizing: border-box;
}

.logo-container {
    margin-top: -400px;
}

#logo {
    margin: 0 auto;
    margin-top: -50px;
    height: 350px;
    width: auto;
}

body {
    background-color: #15201a;
    background-image: url('/assets/images/main-background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.task-list-container {
    background-color: #fdf8db;
    opacity: 80%;
    width: 80%;
    border-radius: 20px;
}

.productivity-container {
    background-color: #131c17;
    opacity: 80%;
    width: 80%;
    height: 300px;
}