* {
    box-sizing: border-box;
}

.logo-container {
    margin-top: -400px;
}

#logo {
    margin: 0 auto;
    margin-top: -50px;
    height: 350px;
    width: auto;
}

body {
    background-color: #15201a;
    background-image: url('/assets/images/main-background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.task-list-container {
    background-color: rgba(253, 248, 219, 0.95);
    width: 80%;
    border-radius: 20px;
    margin-bottom: 50px;
}

.input-text {
    background-color: white;
    border: none;
    color: #a5a7a5;
    font-size: 2.5rem;
    display: block;
    width: 95%;
    padding: 1rem;
    margin: 2rem auto;
}

.input-text::placeholder {
    color: #cecece;
}

ul {
    margin: 0;
    padding: 0;
}

.todo-list {
    list-style: none;
    background-color: white;
    border: none;
    color: #131c17;
    width: 95%;
    margin: 2rem auto;
    margin-bottom: 3rem;
    padding-left: -2rem;
}

.todo-list li {
    border-top: 10px solid rgb(253, 248, 219);
    padding-left: 1.5rem;
    font-size: 1.5rem;
    position: relative;
}

.todo-list li .fa-bars {
    color: #a5a7a5;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.todo-list li .fa-trash-can {
    color: #a5a7a5;
    position: absolute;
    right: 60px;
    top: 50%;
    transform: translateY(-50%);
}

.todo-list li .fa-square {
    color: #a5a7a5;
    position: absolute;
    right: 100px;
    top: 50%;
    transform: translateY(-50%);
}

.todo-list li .fa-square-check {
    color: #35e705;
    position: absolute;
    right: 100px;
    top: 50%;
    transform: translateY(-50%);
}




.productivity-container {
    background-color: rgba(19, 28, 23, 0.7);
    width: 80%;
    height: 225px;
    border-radius: 20px;
    position: relative;
}

.productivity-text {
    background-color: #111914;
    font-family: 'Caveat Brush', sans-serif;
    letter-spacing: 0.075em;
    width: 215px;
    padding: 1rem;
    margin: 0 auto;
    margin-bottom: -35px;
    color: #fdf8db;
    text-align: center;
    vertical-align: middle;
    z-index: 5;
    border-radius: 20px;
    font-size: 180%;
}

.calc-container {
    padding-right: 4rem;
    padding-bottom: 0.2rem;
    position: absolute;
    right: 0;
    bottom: 0;
}

.items-counter-text {
    color: #fdf8db;
    font-size: 135%;
    opacity: 200%;
}

.items-counter-number {
    color: #da0428;
    font-weight: 600;
    font-size: 140%;
    padding-right: 5px;
}

.items-ticked-number {
    color: #e79505;
    font-weight: 600;
    font-size: 140%;
    padding-right: 5px;
}

.items-complete-percent {
    color: #35e705;
    font-weight: 600;
    font-size: 140%;
    padding-right: 5px;
}